@import "~rfs/scss";

@import "./Options";

#root {
  background: linear-gradient(#fff, #f7f7f7) !important;
  background-position-y: 95vh !important;
}

body {
  min-width: 300px;
}

.responsive-text-size {
  font-size: .9rem;
  @media (min-width: $breakpoint-phone) {
    font-size: .95rem;
  }
  @media (min-width: $breakpoint-tablet) {
    font-size: 1rem;
  }
  @media (min-width: $breakpoint-big-tablet) {
    font-size: 1.05rem;
  }
  @media (min-width: $breakpoint-desktop) {
    font-size: 1.1rem;
  }
}

.page-content-container {
  padding: 3rem 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #e8e8e8;

  .inner-page-content {
    width: 400px;
    max-width: 80%;
    margin: 0 auto;

    @media (min-width: $breakpoint-phone) {
      width: 500px;
    }
    @media (min-width: $breakpoint-tablet) {
      width: 650px;
    }
    @media (min-width: $breakpoint-big-tablet) {
      width: 850px;
    }
    @media (min-width: $breakpoint-desktop) {
      width: 1100px;
    }
    @media (min-width: $breakpoint-big-desktop) {
      width: 1500px;
    }

    .inner-page-content-title {
      text-align: center;
      font-weight: 500;
      margin-bottom: .75rem;

      @include responsive-font-size(1.75rem, true);
    }
  }

  &:last-of-type {
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
  }
}

.clickable {
  cursor: pointer;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.nav-link-button {
  font-size: inherit;
  font-weight: inherit;
  text-transform: unset;
}

// Wave
.Ripple.is-reppling {
  animation: ripple 0.5s ease-in-out;
}
@keyframes ripple {
  0% { transform: scale(0); opacity: 0}
  5% { opacity: 0 }
  20% { opacity: .75 }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
