.nav-profile-picture {
  max-height: 100%;

  border-radius: 15% !important;
}

.navbar {
  background-color: rgba(227, 227, 227, 0.8);
}
@supports ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))) {
  .navbar {
    background-color: rgba(227, 227, 227, .2);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }
}
.navbar-brand {
  width: 190px;
}

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link,
.navbar.navbar-light .navbar-nav .active .nav-link {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #202020;
  padding-bottom: 4px !important;
  margin-bottom: 4px !important;
}

.navbar.navbar-light .navbar-nav .nav-link {
  border-bottom: 2px solid transparent;
  border-radius: 0;
}

.navbar .navbar-nav > a {
  margin-right: .25rem;
}

.navbar-brand-title {
  font-size: 1.5rem;
  transition: font-size .5s ease-in-out;
}

.navbar-icon {
  width: 0;
  overflow: hidden;
  opacity: 0;

  transition: width .5s cubic-bezier(.79,.14,.15,.86),
  opacity .5s cubic-bezier(.79,.14,.15,.86);
}
.top-nav-collapse {
  .navbar-icon {
    width: 100%;
    opacity: 1;
  }
  .navbar-brand-title {
    font-size: 1.25rem;
  }
}
