@import "../Options";

.projects {
  .container {
    max-width: 100% !important;
  }
}

.expand-projects-btn {
  width: 37px;
  height: 37px;
  padding: 0 !important;
  font-size: 1.1rem !important;
  letter-spacing: -0.09em;
}

.project-card {
  box-shadow: unset !important;
  border-radius: 0 !important;
  background-color: transparent !important;

  .view {
    border-radius: .25rem;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.page-content-container {
  .expand-projects-btn {
    i.fa {
      transition: transform 150ms ease-in-out;
    }
  }
  .extra-project, .extra-project-md {
    transition: all .35s ease-in-out;
    overflow: hidden;
    height: 0;
    opacity: 0;
  }
  @media (min-width: $breakpoint-desktop) {
    .extra-project-md {
      transition: unset;
      height: 100% !important;
      opacity: 1 !important;
    }
  }


  &.expanded {
    .expand-projects-btn {
      i.fa {
        transform: rotateX(180deg) translateY(2px);
      }
    }
    .extra-project, .extra-project-md {
      height: 100% !important;
      opacity: 1 !important;
    }
  }
}