.projects {
  .container {
    max-width: 100% !important;
  }
}

.project-card {
  box-shadow: unset !important;
  border-radius: 0 !important;
  background-color: transparent !important;

  .view {
    border-radius: .25rem;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}