@import "../Options";

.projects {
  .container {
    @media (min-width: $breakpoint-phone) {
      max-width: 540px;
    }
    @media (min-width: $breakpoint-tablet) {
      max-width: 720px;
    }
    @media (min-width: $breakpoint-big-tablet) {
      max-width: 960px;
    }
    @media (min-width: $breakpoint-desktop) {
      max-width: 1440px;
    }
  }
}

.project-card {
  box-shadow: unset !important;
  border-radius: 0 !important;
  background-color: transparent !important;

  .view {
    border-radius: .25rem;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.project-image-container {
  width: 100%;
  padding-bottom: 60%; //56.25% is 16:9
  overflow: hidden;
  position: relative;

  .project-image {
    position: absolute;

    // Background size cover replacement
    min-width: 100%;
    min-height: 100%;

    // Background position center replacement
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.page-content-container {
  .expand-projects-btn {
    i.fa {
      transition: transform 150ms ease-in-out;
    }
  }
  .extra-project, .extra-project-md {
    transition: all .35s ease-in-out;
    overflow: hidden;
    height: 0;
    opacity: 0;
  }
  @media (min-width: $breakpoint-desktop) {
    .extra-project-md {
      transition: unset;
      height: 100% !important;
      opacity: 1 !important;
    }
  }

  &.expanded {
    .expand-projects-btn {
      i.fa {
        transform: rotateX(180deg) translateY(2px);
      }
    }
    .extra-project, .extra-project-md {
      height: 100% !important;
      opacity: 1 !important;
    }
  }
}

.img-transition-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color .3s ease-in-out;
  text-align: center;
  height: 0;
  overflow: hidden;
  background-color: transparent;

  &.active {
    background-color: white;
    height: initial;

    .img-transition {
      animation: project-image-transition .4s ease-in-out forwards;

      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    }
  }

  .img-transition {
    position: absolute;

    border-radius: .25rem;
    transition: box-shadow .2s ease-in-out .2s;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .img-center {
      top: 50%;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      left: 0;
    }
  }
}

.project-page-container {
  min-height: 100vh;

  .project-title div {
    padding-bottom: .7rem;
    margin-bottom: .5rem;

    border-bottom: 4px solid #4285f4;
  }

  .project-video-controls {
    top: calc(62vh - 1rem);
    left: 5%;
    bottom: initial;
  }
  .project-title-brand {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    img {
      margin: auto;
    }
  }


  .bursting-barrel-brand {
    width: 50%;
  }
}

.badge {
  padding: .4rem .6rem;
  cursor: default;
}