#about-page {
  margin-top: 5vh;
  padding-top: 0 !important;

  border-top: 0 !important;

  .inner-page-content {
    margin-top: 3rem;
    padding-top: 0 !important;
  }

  .profile-picture {
    border-radius: .25rem;
  }
  .z-index-1 {
    z-index: 1;
  }
}