#about-page {
  margin-top: 5vh;
  padding-top: 0 !important;

  border-top: 0 !important;

  .inner-page-content {
    margin-top: 3rem;
    padding-top: 0 !important;
  }

  .profile-picture {
    border-radius: .25rem;
  }
  .z-index-1 {
    z-index: 1;
  }

  .middle-card {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .skills-icon {
    img, svg {
      width: 100%;
      height: auto;
      transition: filter .25s ease-out;

      &:hover {
        -webkit-filter: grayscale(75%);
        -moz-filter: grayscale(75%);
        -o-filter: grayscale(75%);
        -ms-filter: grayscale(75%);
        filter: grayscale(75%);
      }
    }
  }
}